@page "/product"
@using ReactiveBlazor.Client.ReactiveUI.Forms
@using ReactiveBlazor.ViewModels.Products
@inherits ReactiveBlazor.Client.Pages.Common.BasePage<ReactiveBlazor.ViewModels.Products.IProductViewModel>

<h3>Product Page</h3>

<MudForm Model="ViewModel">
    <MudButton Variant="Variant.Filled" Color="Color.Inherit" OnClick="OnClearClicked">Clear</MudButton>
    <ReactiveTextField
        @ref="_productName"
        @bind-Value="ViewModel!.Name"
        T="string?"
        Label="Product name"
        Immediate="true"
        Clearable="true"
        Variant="Variant.Outlined"/>

    <ReactiveTextField
        @ref="_productDescription"
        @bind-Value="ViewModel!.Description"
        T="string?"
        Label="Product Description"
        Immediate="true"
        Clearable="true"
        Variant="Variant.Outlined"/>

    <ReactiveDatePicker
        @ref="_expirationDate"
        @bind-Date="ViewModel!.ExpirationDate"
        Label="Expiration Date"
        Clearable="true"
        Variant="Variant.Outlined"/>

    <ReactiveSelect
        @ref="_category"
        T="ProductCategory?"
        @bind-Value="ViewModel!.Category"
        Label="Category"
        Clearable="true"
        Variant="Variant.Outlined"
        AnchorOrigin="Origin.BottomCenter">
        @foreach (var category in ViewModel!.Categories)
        {
            <MudSelectItem T="ProductCategory?" Value="@((ProductCategory?)category)"/>
        }
    </ReactiveSelect>
</MudForm>

@code {

}