@page "/product"
@using ReactiveBlazor.Client.ReactiveUI.Forms
@inherits ReactiveBlazor.Client.Pages.Common.BasePage<ReactiveBlazor.ViewModels.Products.IProductViewModel>

<h3>Product Page</h3>

<MudForm Model="ViewModel">
    <ReactiveTextField
        @bind-Value="ViewModel!.Name"
        T="string?"
        Label="Product name"
        Immediate="true"
        Clearable="true"
        ValidationError="@ProductNameValidation"
        Variant="Variant.Outlined"/>

    <ReactiveTextField
        @ref="_productDescription"
        @bind-Value="ViewModel!.Description"
        T="string?"
        Label="Product Description"
        Immediate="true"
        Clearable="true"
        Variant="Variant.Outlined"/>

</MudForm>

@code {

}